@import url("./../../variables.css");

html {
    background-color: var(--background);
    color: var(--color-text);
}

.select {
    color: var(--color-text);
    background-color: var(--background);
}
.titleName {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 6px;
    color: var(--color-text)
}
