.sidebar {
    position: absolute;
    left: -310px;
    height: 100%;
    width: 310px;
    background-color: #fff;
    z-index: 5;
    top: 0;
}

.sidebar.open {
    left: 0;
    top: 0;
}

.background {
}

.nav {
    position: absolute;
    margin: 0 0 0 70px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.nav a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.nav a:hover {
    color: #0059B2;
}

.nav a.active {
    color: #58ACFF;
}

.buttonWrapper {
    display: flex;
    justify-content: end;
    padding: 22px 29px 28px 0;
}

.close {
    cursor: pointer;
    border: none;
    background-color: #fff;
}

.close img {
}
