@import url("./../variables.css");

.App {
    --header_height: 60px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.hwTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 9px;
    margin-top: 39px;
    color: var(--color)
}

.hw {
    padding-top: 24px;
    padding-bottom: 31px;
    min-height: 336px;
}

hr {
    height: 1px;
    color: #D9D9D9;
}